* {
      padding: 0;
      margin: 5px;
      text-align: center;
    }
    .calculator {
      width: 270px;
      height: 320px;
      background-color: #c7cdd1;
      box-shadow: 0px 0px 0px 4px #666;
      border: 3px solid black;
      border-radius: 4px;
      margin: 50px;
    }
    .tr {
      margin: 30px;
    }
    #display {
      width: 220px;
      height: 40px;
      text-align: right;
      background-color: black;
      border: 3px solid white;
      font-size: 18px;
      left: 2px;
      top: 2px;
      color: #7fff00;
    }
    #resultSign {
      padding: 0px 15px 0px 15px;
    }